<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/weather.png">
    <title>About Page</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Andrew Mead. It uses data from mapbox.com and weather stack.</p>
      <img class="portrait" src="./robot.png" />
    </div>
    {{>footer}}
  </body>
</html>